<!doctype>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Demo</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>

</head>
<body>
<a href="oauth2/authorization/google">google login</a>
<a href="oauth2/authorization/naver">naver login</a>
<p th:text="${username}"></p><p th:text="${user_email}"></p><p th:text="${user_picture}"></p>

</body>
</html>